/**
 * Imports all scss components file
 * https://sass-lang.com/documentation/at-rules/import
 */

@import "./Home/Home.css";

body {
    height: 100%;
    overflow-y: transparent;
    overflow-x: hidden; /* hides the horizontal scroll bar */
    border: 1px solid red;
}